@import controllers.routes
@()

<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/tabledash.css")">

<div data-bind="visible: vm.page() == 'computerDash'">
  <div class="container">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2><b>Kompyuterlar</b></h2>
          </div>
          <div class="col-sm-6">
            <a href="#addComputer1" class="btn btn-success" data-toggle="modal"><i class="fa fa-plus"></i>
              Yangi Kompyuter qo`shish</a>
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>id</th>
            <th>Nomi</th>
            <th>Protsessori</th>
            <th>Chastotasi</th>
            <th>Tezkor xotira</th>
            <th>Doimiy xotira</th>
            <th>Video karta</th>
            <th>Rangi</th>
            <th>Bahosi</th>
          </tr>
        </thead>
        <tbody data-bind="foreach: ">
          <tr>
            <td data-bind="@*text: $index() + 1*@"></td>
            <td data-bind="@*text: $data.phoneName*@"></td>
            <td data-bind="@*text: $data.phoneModel*@"></td>
            <td data-bind="@*text: $data.phoneRam*@"></td>
            <td data-bind="@*text: $data.phoneHdd*@"></td>
            <td data-bind="@*text: $data.phonePrice*@"></td>
            <td>
              <span>
                <a href="#" data-bind="@*click: $root.vm.openEditForm($data)*@" class="edit" ><i class="fa fa-pen" data-toggle="tooltip" title="Edit"></i></a>
              </span>
              <span>
                <a href="#" data-bind="@*click: $root.vm.deletePhoneForm($data)*@" class="delete" ><i class="fa fa-trash" data-toggle="tooltip" title="Delete"></i></a>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
    <!-- Add Modal HTML -->
  <div id="addComputer" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addDocumentTypeTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form class="">
          <div class="modal-header px-3">
            <h4 class="modal-title" id="addDocumentTitle">Kompyuter qo`shish</h4>
            <button type="button" class="close pl-4" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body px-3">
            <div class="form-group">
              <label>Nomi</label>
              <input type="text" class="form-control" placeholder="nomi" data-bind="value: vm.phone.phoneName">
            </div>
            <div class="form-group">
              <label>Potsessori</label>
              <input type="email" class="form-control" placeholder="model" data-bind="value: vm.phone.phoneModel">
            </div>
            <div class="form-group">
              <label>Tezkor xotirasi</label>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="tezkor xotira" data-bind="value: vm.phone.phoneRam">
                <div class="input-group-append">
                  <span class="input-group-text bg-secondary" >Gb</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Doimiy xotirasi</label>
              <div class="input -group">
                <input type="text" class="form-control" placeholder="doimiy xotira" data-bind="value: vm.phone.phoneHdd">
                <div class="input-group-append">
                  <span class="input-group-text bg-secondary" >Gb</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Bahosi</label>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="bahosi" data-bind="value: vm.phone.phonePrice">
                <div class="input-group-append">
                  <span class="input-group-text bg-secondary" >so`m</span>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Orqaga</button>
            <button type="submit" class="btn btn-success" data-bind="click: vm.addPhone">Qo`shish</button>
          </div>
        </form>

      </div>
    </div>
  </div>
    <!-- Edit Modal HTML -->
  <div id="edit_phone_modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            <h4 class="modal-title">Telefon malumotlarini o`zgartirish</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label>Nomi</label>
              <input type="text" class="form-control" placeholder="nomi" data-bind="value: vm.selectedPhone.phoneName">
            </div>
            <div class="form-group">
              <label>Modeli</label>
              <input type="email" class="form-control" placeholder="model" data-bind="value: vm.selectedPhone.phoneModel">
            </div>
            <div class="form-group">
              <label>Tezkor xotirasi</label>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="tezkor xotira" data-bind="value: vm.selectedPhone.phoneRam">
                <div class="input-group-append">
                  <span class="input-group-text bg-secondary" >Gb</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Doimiy xotirasi</label>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="doimiy xotira" data-bind="value: vm.selectedPhone.phoneHdd">
                <div class="input-group-append">
                  <span class="input-group-text bg-secondary" >Gb</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Bahosi</label>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="bahosi" data-bind="value: vm.selectedPhone.phonePrice">
                <div class="input-group-append">
                  <span class="input-group-text bg-secondary" >so`m</span>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <input type="button" class="btn btn-default" data-dismiss="modal" value="Orqaga">
            <input type="submit" class="btn btn-info" data-bind="click: vm.updatePhone" value="Saqlash">
          </div>
        </form>
      </div>
    </div>
  </div>
    <!-- Delete Modal HTML -->
  <div id="delete_phone_modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            <h4 class="modal-title">Telefon malumotini o`chirish</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <p class="text-center text-danger">Shu telefon malumotlarini o`chirishga ishonchingiz komilmi?</p>
          </div>
          <div class="modal-footer">
            <input type="button" class="btn btn-default" data-dismiss="modal" id="close_phone_modal" value="Cancel">
            <input type="submit" class="btn btn-danger" data-bind="click: vm.deletePhone" value="Delete">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>