@()

<div data-bind="visible: vm.page() == 'phone'">
  <div class="card-view">
    <div class="container ">
      <h4 class="py-4"><strong>Telefonlar</strong></h4>
      <div class="row ">
        <div class="col-sm-12">
            <!--Carousel Wrapper-->
          <div class="row" data-bind="foreach: vm.getPhoneList()">
            <div class="col-md-3">
              <div class="card product mb-2" >
                <img class="card-img-top"
                src="@routes.Assets.versioned("images/card/SamsungA71.jpeg")"
                alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title text-secondary">Telefonlar</h4>
                  <p class="card-text" data-bind="text: $data.phoneName"></p>
                  <div class="text-center text-info" >
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  <div class="text-center pt-2"><h4 data-bind="text: $data.phonePrice"></h4>
                    <h4> so`m</h4></div>
                  <div class=""><a class="btn btn-block btn-outline-success" href="">
                          Savatchaga qo`shish <i class="fas fa-shopping-cart"></i></a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
          <!--/.First slide-->


          <!--/.Third slide-->

      </div>
        <!--/.Slides-->

        <!--Controls-->
        <!--/.Controls-->

    </div>
      <!--/.Carousel Wrapper-->

  </div>
</div>